@model List<ShoraaDahak.DataLayer.Models.Discussion.Discussion>
@{
    ViewData["Title"] = "لیست بحث ها";
}
<div class="breadcrumbs_wrap dark mb-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">بحث مردمی</li>
                            <li class="breadcrumb-item active" aria-current="page">لیست بحث ها</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                @if (Model.Count != 0)
                {
                    <div class="card style-2">
                        <div class="card-header">
                            @if (Model.Select(d => d.Service.ServiceTitle).FirstOrDefault().ToString() != null)
                            {
                                <h4 class="text-success text-center">لیست بحث های مطرح شده در @Model.Select(d => d.Service.ServiceTitle).FirstOrDefault().ToString()</h4>
                            }
                            else
                            {
                                <h4 class="text-success text-center">لیست بحث های مطرح شده </h4>
                            }
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">عنوان</th>
                                            <th scope="col">میزان اهمیت</th>
                                            <th scope="col">ثبت شده توسط</th>
                                            <th scope="col">تعداد پاسخ ها</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var discussion in Model)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <a class="btn btn-info btn-block" href="/Discussion/ShowDiscussion/@discussion.DiscussionId">
                                                        @discussion.DiscussionTitle
                                                    </a>
                                                </th>
                                                <td> @discussion.DiscussionImpLevel.ImpLevelTitle</td>
                                                <td>@discussion.User.Name</td>
                                                <td> @discussion.Answers.Count</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning m-4">
                        هنوز نامه ای ارسال نکرده اید.
                    </div>
                    <div class="alert alert-info m-4">
                        میتوانید از طریق <a href="/SendLetter">ارسال نامه</a> نامه حود را ارسال کنید.
                    </div>
                }
            </div>
        </div>
    </div>
</section>


