@using ShoraaDahak.Core.Convertors
@using ShoraaDahak.Core.DTOs
@model ShoraaDahak.DataLayer.Models.Blog.Blog
@{
    ViewData["Title"] = Model.BlogTitle;
}
<div class="breadcrumbs_wrap dark mb-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/Blog">وبلاگ ها</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.BlogTitle</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <article class="blog-news big-detail-wrap">
                    <div class="blog-detail-wrap">
                        <figure class="img-holder">
                            <a href="#"><img src="/Blog/image/@Model.BlogImageName" class="img-responsive" alt="@Model.BlogTitle"></a>
                            <div class="blog-post-date theme-bg">
                                @Model.CreateDate.ToShamsi()
                            </div>
                        </figure>
                        <div class="full blog-content">
                            <div class="post-meta">توسط : <a href="#" class="author theme-cl">@Model.User.Name</a> | 10 نظر </div>
                            <a href="#"><h3>@Model.BlogTitle</h3></a>
                            <div class="blog-text">
                                @Html.Raw(Model.BlogBody)
                                <div class="post-meta">دسته بندی مقاله: <span class="category"><a href="/Blog?Categories=@Model.CategoryId" class="theme-cl">@Model.BlogCategory.BlogCategoryTitle</a></span></div>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <!-- Comment -->
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Blog" asp-action="CreateComment" 
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-mode="replace"
                          data-ajax-update="#CommentList"
                          data-ajax-success="Success">
                        <input type="hidden" name="Comment.BlogId" value="@Model.BlogId" />
                        <div class="comment-detail-form mb-5 border p-3 rounded">
                            <div class="section-title2">
                                <h3 id="reply-title" class="comment-reply-title">
                                    ارسال نظرات
                                </h3>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <textarea id="CMBody" name="comment.CommentBody" class="form-control" placeholder="نظر خود را درباره این وبلاگ وارد کنید ..."></textarea>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <button class="btn btn-primary" type="submit">ارسال</button>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <div class="alert alert-info">برای ثبت نظر میبایست <a href="/Register">عضو</a> سایت سایت باشید. </div>
                }
                <div class="comment-wrap border p-3 rounded" id="CommentList">
                    <div class="comment-detail">
                        <div class="comment-detail-title">
                            <h4> نظرات (2)</h4>
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="blog-sidebar">

                    <div class="side-widget">
                        <div class="side-widget-header border-0">
                            <h4><i class="ti-search"></i>جستجو مقالات</h4>
                        </div>
                        <form action="/Blog">
                            <div class="side-widget-body p-t-10">
                                <div class="input-group">
                                    <input type="text" name="searchBlog" class="form-control" placeholder="جستجو …">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-lg">برو</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="side-widget">
                        <div class="side-widget-header">
                            <h4><i class="ti-check-box"></i>وبلاگ های پیشنهادی</h4>
                        </div>
                        <div class="side-widget-body p-t-10">
                            <div class="side-list">
                                <ul class="side-blog-list">
                                    @{
                                        List<RelatedBlogViewModel> list = ViewBag.RelatedBlogs as List<RelatedBlogViewModel>;
                                    }
                                    @foreach (var item in list)
                                    {
                                        @if (ViewBag.CurrentBlogId != item.BlogId)
                                        {
                                            <partial name="_RelatedBlogs" model="item" />
                                        }
                                        else
                                        {
                                            <li></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        function Success() {
            $("#CMBody").val("");
        }

        $(function() {
            $("#CommentList").load("/Blog/ShowComment/" + @Model.BlogId);
        });

        function pageComment(pageNum) {
            $("#CommentList").load("/Blog/ShowComment/" + @Model.BlogId + "?pageNum="+pageNum);
        }
    </script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
}
