@using ShoraaDahak.Core.Convertors
@using ShoraaDahak.Core.Services.Interfaces
@using ShoraaDahak.DataLayer.Models.Blog
@using System.Security.Claims
@model Tuple<List<ShoraaDahak.DataLayer.Models.Blog.Comment>, int>
@inject ICommentService _commentService;
@inject IPermissionService _permissionService;
@{
    Layout = null;
}
<ul id="singlecomment-detail" class="comment-detail-list">
    @foreach (var item in Model.Item1)
    {
        <li class="comment" id="comment-56">
            <div class="comment">
                <div class="comment__image">
                    <img alt="Avatar" src="/img/75Hw.jpg" class="avatar avatar-75 photo">
                </div>
                <div class="comment__text">
                    <h5>@item.User.Name</h5>
                    <span>
                        <em>@item.CommentCreateDate.ToShamsi()</em>
                    </span>
                    <p>@Html.Raw(item.CommentBody)</p>
                </div>
                @if (item.UserId == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) || _permissionService.CheckPermission(7,User.FindFirstValue(ClaimTypes.Email)))
                {
                    <form asp-controller="Blog" asp-action="DeleteComment">
                        <input type="hidden" name="id" value="@item.CommentId" />
                        <input type="hidden" name="blogId" value="@item.BlogId" />
                        <div class="col-md-12 col-sm-12">
                            <button class="btn btn-danger btn-sm" type="submit">حذف نظر</button>
                        </div>
                    </form>
                }
                <form asp-controller="Blog" asp-action="CreateAnswer">
                    <input type="hidden" name="id" value="@item.CommentId" />
                    <div class="border p-3 m-2 rounded">
                        <textarea class="form-control" placeholder="پاسخ شما به این نظر " name="body"></textarea>
                        <div class="col-md-12 col-sm-12">
                            <button class="btn btn-primary btn-sm" type="submit">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
            @if (item.Answers.Count != 0)
            {
                <ul id="singlecomment-detail" class="comment-detail-list border border-info rounded p-1 m-5">
                    @{
                        List<CommentAnswer> Answers = _commentService.GetAnswersByCommentId(item.CommentId);
                    }
                    @foreach (var answer in Answers)
                    {
                        <li class="comment border rounded p-3 m-1" id="comment-56">
                            <div class="comment">
                                <div class="comment__image">
                                    <img alt="Avatar" src="/img/50Hw.jpg" class="avatar avatar-75 photo">
                                </div>
                                <div class="comment__text">
                                    <h5>@answer.User.Name</h5>
                                    <span>
                                        <em>@answer.CreateDate.ToShamsi()</em>
                                    </span>
                                    <p>@Html.Raw(answer.AnswerBody)</p>
                                </div>
                            </div>
                            @if (answer.UserId == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) || _permissionService.CheckPermission(7, User.FindFirstValue(ClaimTypes.Email)))
                            {
                                <form asp-controller="Blog" asp-action="DeleteAnswer">
                                    <input type="hidden" name="id" value="@answer.CAnswerId" />
                                    <input type="hidden" name="blogId" value="@item.BlogId" />
                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-danger btn-sm" type="submit">حذف پاسخ</button>
                                    </div>
                                </form>
                            }
                        </li>
                    }
                </ul>
            }
            <hr>
        </li>
    }
</ul>
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item right">
                </li>
                @for (int i = 1; i <= Model.Item2; i++)
                {
                    <li class="page-item"><a class="page-link" onclick="pageComment(@i)">@i</a></li>
                }
                <li class="page-item left">
                </li>
            </ul>
        </nav>
    </div>
</div>