@page
@model ShoraaDahak.Web.Pages.Admin.Services.IndexModel
@{
    ViewData["Title"] = "لیست خدمات";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست خدمات</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-page="CreateService" class="btn btn-outline btn-success">افزودن خدمات</a>
    </div>
</div>
<br />
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            لیست خدمات انجام شده
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <form>
                            <div class="col-md-10 col-sm-5">
                                <input type="text" name="filterCourseTitle" class="form-control" placeholder="جستجو بر اساس عنوان دوره" />
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="submit" class="btn btn-info form-control">بیاب</button>
                            </div>
                        </form>
                    </div>
                    <br />
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                        <thead>
                            <tr>
                                <th>عنوان خدمت</th>
                                <th>تاریخ شروع</th>
                                <th>قیمت دوره</th>
                                <th>تصویر</th>
                                <th>دستورات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.ShowCourseForAdminViewModel.Courses)
                            {
                                <tr>
                                    <td>@item.CourseTitle</td>
                                    <td>@item.CreateDate.ToShamsi()</td>
                                    <td>@item.CoursePrice</td>
                                    <td>
                                        <img src="/img/Course/thumb/@item.CourseImageName" class="img-thumbnail littleimage" />
                                    </td>
                                    <td>
                                        <a asp-page="EditCourse" asp-route-courseId="@item.CourseId" class="btn btn-outline btn-primary">ویرایش</a>
                                        <a asp-page="Episodes/IndexEpisode" asp-route-courseId="@item.CourseId" class="btn btn-outline btn-info">اپیزود ها</a>
                                        <a asp-page="DeleteCourse" asp-route-courseId="@item.CourseId" class="btn btn-outline btn-danger">حذف</a>
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
